<div class="user-login-status my-card d-flex">
    <img src="~/Content/Images/male-profile-1.png" height="70" />
    <div>
        <h5>Divyanshu Verma</h5>
        <p>@@divyanshuv16</p>
        <p><i class="fa fa-circle" style="color:green;font-size:10px;"></i> Active</p>
    </div>
</div>
