<div class="notification-area my-card">
    <h4>
        Notifications <span class="badge text-bg-dark">10</span>
    </h4>
    <hr />
    @{ Html.RenderPartial("_SingleNotification");}
    @{ Html.RenderPartial("_SingleNotification");}
    @{ Html.RenderPartial("_SingleNotification");}
    @{ Html.RenderPartial("_SingleNotification");}
    @{ Html.RenderPartial("_SingleNotification");}
    @{ Html.RenderPartial("_SingleNotification");}
    @{ Html.RenderPartial("_SingleNotification");}
</div>