<div>
    <div class="post-body my-card my-card-hover">
        <div class="single-post d-flex">
            <div>
                <img src="~/Content/Images/female-profile-2.png" height="90" />
            </div>
            <div>
                <div><h5 class="mb-0">Someone smith</h5><p class="m-0 text-muted">@@someone</p></div>
                <p>THis is a random test which is posted here and then click me</p>
                <div style="display: flex;">
                    <p style="margin-right: 8px;"><span class="fa fa-thumbs-o-up">100</span></p>
                    <p style="margin-right: 8px;"><span class="fa  fa-comment-o">100</span></p>
                    <p style="margin-right: 8px;"><span class="fa fa-ellipsis-v"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
