@model BiasedSocialMedia.Web.Models.Notifications
<div class="single-notification my-card d-flex my-card-hover">
    <div>
        <img src="@Url.Action("Images","Image",new {id=Model.ByUser.ProfilePhotoID})" height="50" width="50" class="profile-photo" />
    </div>
    <div class="notification-content max-lines">
        <p>@Model.ByUser.Name liked your @Model.NPost.PostContent</p>
        <p>
            <span class="notification-time">Few Minutes Ago</span>
        </p>
    </div>
</div>
