<div class="single-notification my-card d-flex my-card-hover">
    <div>
        <img src="~/Content/Images/female-profile-1.png" height="50" />
    </div>
    <div class="notification-content">
        <p>Someone liked your post.</p>
        <p>
            <span class="notification-time">Few Minutes Ago</span>
        </p>
    </div>
</div>
