<div>
    <div class="post-area my-card">
        <textarea class="form-control" id="post-text-area" rows="3" cols="20" placeholder="Post Something Here"></textarea>
        <div class="group" style="margin-top: 5px;">
            <label class="upload-image-label" style="float: left;">Upload Image</label>
            <button type="submit"
                    style="float: right;width: 120px; height: 30px;border-radius: 10px;">
                <span>Post</span>
            </button>
        </div>
    </div>
</div>
