@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            @{ Html.RenderPartial("_WritePost");}
            @{ Html.RenderPartial("_PostArea");}
            @{ Html.RenderPartial("_PostArea");}
            @{ Html.RenderPartial("_PostArea");}
            @{ Html.RenderPartial("_PostArea");}
            @{ Html.RenderPartial("_PostArea");}
            @{ Html.RenderPartial("_PostArea");}
            @{ Html.RenderPartial("_PostArea");}
        </div>
        <div class="col-md-4">
            <!--user login area-->
           @{ Html.RenderPartial("_DashboardUserInfo");}
            <!--user login area-->
            @{ Html.RenderPartial("_NotificationArea");}
        </div>
    </div>
</div>