@model BiasedSocialMedia.Web.Models.DashboardViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            @{ Html.RenderPartial("_WritePost");}
            <div id="all-posts-container">
                @*@{ Html.RenderPartial("_PostArea", Model.Posts);}*@
            </div>
            <div id="posts-loader">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="~/Content/Images/test-loader.gif" />
                    <p>Loading contents</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!--user login area-->
            @{ Html.RenderPartial("_DashboardUserInfo", Model.CurrentUser);}
            <!--user login area-->
            @{ Html.RenderPartial("_NotificationArea");}
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Dashboard")