
@{
    ViewBag.Title = "Dashboard";
    var load = ViewBag.show;
}
@if (load)
{
    Html.RenderPartial("_WelcomeScreen");

}
<div class="container">
    <div class="row">
      <div class="col-md-8">
        <div>
          <div class="post-area my-card">
            <textarea class="form-control" id="post-text-area" rows="3" placeholder="Post Something Here"></textarea>
            <div class="group" style="margin-top: 5px;">
              <label style="float: left;">Upload Image</label>
              <button type="submit"
                style="float: right;width: 120px; height: 30px;border-radius: 10px;"><span>Post</span></button>
            </div>
          </div>
        </div>
        <div>
          <div class="post-body my-card">
            <div class="single-post d-flex">
              <div>
                <img src="~/Content/Images/female-profile-1.png" height="90" />
              </div>
              <div>
                <div><h5>Someone smith</h5><p>@@someone</p></div>
                <p>THis is a random test which is posted here and then click me</p>
                <div style="display: flex;;">
                  <p style="margin-right: 8px;"><span class="fa fa-thumbs-o-up">100</span></p>
                  <p style="margin-right: 8px;"><span class="fa  fa-comment-o">100</span></p>
                  <p style="margin-right: 8px;"><span class="fa fa-ellipsis-v"></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!--user login area-->
        <div class="user-login-status my-card d-flex">
          <img src="~/Content/Images/male-profile-1.png" height="70"/>
          <div>
            <h5>Divyanshu Verma</h5>
            <p>@@divyanshuv16</p>
            <p>Active</p>
          </div>
        </div>
        <!--user login area-->



        <div class="notification-area  my-card">
          <h4>Notifications <span class="badge text-bg-dark">10</span>
          </h4>
          <hr />
          <div class="single-notification my-card d-flex">
            <div>
              <img src="~/Content/Images/female-profile-1.png" height="50" />
            </div>
            <div class="notification-content">
              <p>Someone liked your post.</p>
              <p><span class="notification-time">Few Minutes Ago</span>
              </p>
            </div>
          </div>
          <div class="single-notification my-card d-flex">
            <div>
              <img src="~/Content/Images/female-profile-2.png" height="50" />
            </div>
            <div class="notification-content">
              <p>Someone Commented your post.</p>
              <p><span class="notification-time">Few Minutes Ago</span>
              </p>
            </div>
          </div>
          <div class="single-notification my-card d-flex">
            <div>
              <img src="~/Content/Images/female-profile-3.png" height="50" />
            </div>
            <div class="notification-content">
              <p>Someone Shared your post.</p>
              <p><span class="notification-time">Few Minutes Ago</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>