@{
    ViewBag.Title = "Index";
}
<div class="container">
    <a href="~/Home/" type="button" class="btn btn-outline-info">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Back
    </a>
    <div class="d-flex justify-content-center align-items-center">
        <h3>User Profile</h3>
    </div>
    @*@{Html.RenderPartial("_EditProfile", Model.CurrentUser);}*@
    @{ Html.RenderAction("LoadProfileInfo");}
    <div class="d-flex justify-content-center align-items-center">
        <h3>All Posts</h3>
    </div>
    @{ Html.RenderAction("_PostArea", "Home");}
</div>
@Scripts.Render("~/bundles/Profile")