.post-area {
    min-height: 170px;
    align-items: center;
    text-align: center;
}
.notification-area {
    min-height: 450px;
}

.notification-time {
    font-size: 13px;
}

.post-body {
    margin-top: 15px;
}

.my-card {
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
    padding: 12px 8px 8px 8px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

    .my-card div {
        margin: 5px;
    }

p {
    margin: 0;
}
#post-text-area
{
    margin-top:10px;
    width:100%;
    max-width:100%;
}
.my-card-hover:hover {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}